<div class="row g-sm-4 g-3">
    <div class="col-xl-3 col-md-6">
        <div class="category-title">


            <h3>Category</h3>
        </div>
        <ul class="category-list custom-padding custom-height">
           
           
            {% for c in categories %}
            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated filter-checkbox" type="checkbox" name="category" id="fruit" value="{{c.id}} " data-filter="category">
                    <!-- Add a style attribute to the img element to set width and height -->
                    <img src="{{c.image.url}}" class="blur-up lazyload" alt="" style="width: 25px; height: 25px;">
                      <label class="form-check-label" for="fruit">
                        <a href="{% url 'ecommerceapp:category_product_list' c.cid %}"> <span class="name">{{c.title}}</span></a>
                        <span class="number">({{ c.product_count }})</span>
                    </label>
                   
                </div>
            </li>
            
            {% endfor %}
            
        </ul>
    </div>




    <div class="col-xl-3 col-md-6">
        <div class="category-title">
            <h3>Discount</h3>
        </div>
        <ul class="category-list">


           {% for v in vendors %}
            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated filter-checkbox" type="checkbox" id="flexCheckDefault" name="vendor" value="{{v.id}}" data-filter="vendor">
                    <label class="form-check-label" for="flexCheckDefault">
                        <span class="name">{{v.title}}</span>
                    </label>
                </div>
            </li>
            {%endfor%}

         
        </ul>
    </div>





    <div class="col-xl-3 col-md-6">
        <div class="category-title">
            <h3>Price</h3>
        </div>
        <div class="range-slider">
            <input type="text" class="js-range-slider" value="">
        </div>
    </div>









    

    <div class="col-xl-3 col-md-6">
        <div class="category-title">
            <h3>Pack Size</h3>
        </div>
        <ul class="category-list custom-padding custom-height">
            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated" type="checkbox" id="flexCheckDefault5">
                    <label class="form-check-label" for="flexCheckDefault5">
                        <span class="name">400 to 500 g</span>
                        <span class="number">(15)</span>
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated" type="checkbox" id="flexCheckDefault6">
                    <label class="form-check-label" for="flexCheckDefault6">
                        <span class="name">500 to 700 g</span>
                        <span class="number">(15)</span>
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated" type="checkbox" id="flexCheckDefault7">
                    <label class="form-check-label" for="flexCheckDefault7">
                        <span class="name">700 to 1 kg</span>
                        <span class="number">(15)</span>
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated" type="checkbox" id="flexCheckDefault8">
                    <label class="form-check-label" for="flexCheckDefault8">
                        <span class="name">120 - 150 g each Vacuum 2 pcs</span>
                        <span class="number">(15)</span>
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated" type="checkbox" id="flexCheckDefault9">
                    <label class="form-check-label" for="flexCheckDefault9">
                        <span class="name">1 pc</span>
                        <span class="number">(15)</span>
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated" type="checkbox" id="flexCheckDefault10">
                    <label class="form-check-label" for="flexCheckDefault10">
                        <span class="name">1 to 1.2 kg</span>
                        <span class="number">(15)</span>
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated" type="checkbox" id="flexCheckDefault11">
                    <label class="form-check-label" for="flexCheckDefault11">
                        <span class="name">2 x 24 pcs Multipack</span>
                        <span class="number">(15)</span>
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated" type="checkbox" id="flexCheckDefault12">
                    <label class="form-check-label" for="flexCheckDefault12">
                        <span class="name">2x6 pcs Multipack</span>
                        <span class="number">(15)</span>
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated" type="checkbox" id="flexCheckDefault13">
                    <label class="form-check-label" for="flexCheckDefault13">
                        <span class="name">4x6 pcs Multipack</span>
                        <span class="number">(15)</span>
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated" type="checkbox" id="flexCheckDefault14">
                    <label class="form-check-label" for="flexCheckDefault14">
                        <span class="name">5x6 pcs Multipack</span>
                        <span class="number">(15)</span>
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated" type="checkbox" id="flexCheckDefault15">
                    <label class="form-check-label" for="flexCheckDefault15">
                        <span class="name">Combo 2 Items</span>
                        <span class="number">(15)</span>
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated" type="checkbox" id="flexCheckDefault16">
                    <label class="form-check-label" for="flexCheckDefault16">
                        <span class="name">Combo 3 Items</span>
                        <span class="number">(15)</span>
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated" type="checkbox" id="flexCheckDefault17">
                    <label class="form-check-label" for="flexCheckDefault17">
                        <span class="name">2 pcs</span>
                        <span class="number">(15)</span>
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated" type="checkbox" id="flexCheckDefault18">
                    <label class="form-check-label" for="flexCheckDefault18">
                        <span class="name">3 pcs</span>
                        <span class="number">(15)</span>
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated" type="checkbox" id="flexCheckDefault19">
                    <label class="form-check-label" for="flexCheckDefault19">
                        <span class="name">2 pcs Vacuum (140 g to 180 g each
                            )</span>
                        <span class="number">(15)</span>
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated" type="checkbox" id="flexCheckDefault20">
                    <label class="form-check-label" for="flexCheckDefault20">
                        <span class="name">4 pcs</span>
                        <span class="number">(15)</span>
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated" type="checkbox" id="flexCheckDefault21">
                    <label class="form-check-label" for="flexCheckDefault21">
                        <span class="name">4 pcs Vacuum (140 g to 180 g each
                            )</span>
                        <span class="number">(15)</span>
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated" type="checkbox" id="flexCheckDefault22">
                    <label class="form-check-label" for="flexCheckDefault22">
                        <span class="name">6 pcs</span>
                        <span class="number">(15)</span>
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated" type="checkbox" id="flexCheckDefault23">
                    <label class="form-check-label" for="flexCheckDefault23">
                        <span class="name">6 pcs carton</span>
                        <span class="number">(15)</span>
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check ps-0 m-0 category-list-box">
                    <input class="checkbox_animated" type="checkbox" id="flexCheckDefault24">
                    <label class="form-check-label" for="flexCheckDefault24">
                        <span class="name">6 pcs Pouch</span>
                        <span class="number">(15)</span>
                    </label>
                </div>
            </li>
        </ul>
    </div>
</div>